{% extends "users/base.html" %}

{% block title %}
Physical Activities
{% endblock title %}
{% block content %}

<div class="container">
    <h3 class="m-4">Physical Activities</h3>    
    <hr>
    <div class="dropdown mx-3 my-3">
        <input type="text" class="mb-4 rounded border border-dark px-3" style="float: right" id="myInput" onkeyup="myFunction()" placeholder="Search ..">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Classification
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
            <li><a class="dropdown-item" href="?classification=Underweight">Underweight</a></li>
            <li><a class="dropdown-item" href="?classification=Normal">Normal</a></li>
            <li><a class="dropdown-item" href="?classification=Overweight">Overweight</a></li>
            <li><a class="dropdown-item" href="?classification=Obese">Obese</a></li>
            <li><a class="dropdown-item" href="?classification=Extremely Obese">Extremely Obese</a></li>
        </ul>
    </div>
    {% if activities %}
        <div class="d-flex flex-wrap rounded-circle">
            {% for act in activities %}
            <div class="px-3 mb-5">
                <iframe width="520" height="290" src="{{act.url}}"></iframe>
                <div class="d-flex justify-content-start"><h4>{{act.title}}<br>
                </div>
                Description: {{act.description}}
                <br>Class: {{act.classification}}
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if activities.has_previous %}
                    <a href="?page=1" class="text-decoration-none">&laquo; First</a>
                    <a class="text-decoration-none" href="?page={{ activities.previous_page_number }}">Previous</a>
                {% endif %}
        
                <span class="current">
                   Page {{ activities.number }} of {{ activities.paginator.num_pages }}.
                </span>
        
                {% if activities.has_next %}
                    <a class="text-decoration-none" href="?page={{ activities.next_page_number }}">Next</a>
                    <a class="text-decoration-none" href="?page={{ activities.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
</div>
<script>
    function myFunction() {
        let input = document.getElementById('myInput').value
        input=input.toLowerCase();
        let x = document.getElementsByClassName('px-3 mb-5');
          
        for (i = 0; i < x.length; i++) { 
            if (!x[i].innerHTML.toLowerCase().includes(input)) {
                x[i].style.display="none";
            }
            else {
                x[i].style.display="list-item";                 
            }
        }
    }
</script>
{% else %}
<h5 class="alert alert-light m-4">No Physical Activities Records</h5>
{% endif %}

{% endblock content%}