{% extends "users/base.html" %}
{% block title %}
BMI Calculator
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card card-secondary mx-2 my-5">
                <div class="card-header">
                    <div>BMI Calculator</div>
                </div>
                <div class="card-body">
                    <div class="form-content">
                        <div class="form-row">
                            <div class="form-group">
                                <label class="col-form-label" for="weight">Weight</label>
                                <input type="number" class="form-control mb-2" placeholder="Weight in kilogram" id="weight">
                                <label class="col-form-label" for="height">Height</label>
                                <input type="number" class="form-control mb-2" placeholder="Height in centimeter" id="height">
                                
                            </div>
                        </div>
                        <HR>
                        <button type="submit" class="btn btn-dark" onclick="calculateBMI()">Calculate</button>
                        <input type="reset" class="btn btn-secondary" onclick="formREset()" value="Clear">
                        <button class="btn btn-info" id="save_button" onclick="" disabled>Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="mt-5">
                <h2>Your BMI is 
                    <span id="bmi">{% if bmi %}{{bmi}} {% else %}___{% endif %}</span>
                </h2>
                <p>Your BMI falls within the <strong id="description">
                    {% if classification %}{{classification}} {% else %}______{% endif %}
                </strong> weight range</p>
                    <strong id="reco_head"></strong>
                <p id="reco"> </span>
            </div>
            <table class="table table-light table-striped" id="myTable">
                <thead class="table">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">BMI</th>
                        <th scope="col">Classification</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                        <tr class="illn">
                            <th scope="row">{{record.date}}</td>
                            <td>{{record.bmi}}</td>
                            <td>{{record.classification}}</td>
                            </td>
                        </tr>
                    {% empty %}
                        <tr class="illn">
                            <th colspan=3 scope="row">No records</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if records.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ records.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ records.number }} of {{ records.paginator.num_pages }}.
                    </span>
            
                    {% if records.has_next %}
                        <a href="?page={{ records.next_page_number }}">next</a>
                        <a href="?page={{ records.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            
        </div>
    </div>
</div>
<script>
    function calculateBMI() {

        var height = document.getElementById('height').value
        var weight = document.getElementById('weight').value
        var BMI = weight/((height/100)**2);
        document.getElementById('save_button').setAttribute('onclick',`location.href='?weight=${weight}&height=${height}'`)
        if(!(isNaN(BMI))){
            document.getElementById('bmi').innerHTML = BMI.toFixed(2)
        }else{
            document.getElementById('bmi').innerHTML = "Unidentified"
        } 
        if(BMI < 18.5){
            document.getElementById('description').innerHTML = "Underweight";
            let text1 = "• Underweight Diet Plan";
            let diet = text1.link("{% url 'diet_plan' %}?classification=Underweight");
            let text2 = "• Underweight Diet Supplement"
            let suppl = text2.link("{% url 'diet_supplement' %}?classification=Underweight");
            let text3 = "• Underweight Physical Activities"
            let workout = text3.link("{% url 'activities' %}?classification=Underweight");
            document.getElementById("reco").innerHTML = diet.concat("<br>", suppl, "<br>", workout);
        }else if((BMI > 18.4) && (BMI < 25.1)){
            document.getElementById('description').innerHTML = "Normal";
            let text1 = "• Normal Diet Plan";
            let diet = text1.link("{% url 'diet_plan' %}?classification=Normal");
            let text2 = "• Normal Diet Supplement"
            let suppl = text2.link("{% url 'diet_supplement' %}?classification=Normal");
            let text3 = "• Normal Physical Activities"
            let workout = text3.link("{% url 'activities' %}?classification=Normal");
            document.getElementById("reco").innerHTML = diet.concat("<br>", suppl, "<br>", workout);
        }else if((BMI > 25) && (BMI < 30 )){
            document.getElementById('description').innerHTML = "Overweight";
            let text1 = "• Overweight Diet Plan";
            let diet = text1.link("{% url 'diet_plan' %}?classification=Overweight");
            let text2 = "• Overweight Diet Supplement"
            let suppl = text2.link("{% url 'diet_supplement' %}?classification=Overweight");
            let text3 = "• Overweight Physical Activities"
            let workout = text3.link("{% url 'activities' %}?classification=Overweight");
            document.getElementById("reco").innerHTML = diet.concat("<br>", suppl, "<br>", workout);
        }else if (BMI > 29.9 && BMI < 35){
            document.getElementById('description').innerHTML = "Obese";
            let text1 = "• Obese Diet Plan";
            let diet = text1.link("{% url 'diet_plan' %}?classification=Obese");
            let text2 = "• Obese Diet Supplement"
            let suppl = text2.link("{% url 'diet_supplement' %}?classification=Obese");
            let text3 = "• Obese Physical Activities"
            let workout = text3.link("{% url 'activities' %}?classification=Obese");
            document.getElementById("reco").innerHTML = diet.concat("<br>", suppl, "<br>", workout);
        }else if (BMI > 34.9){
            document.getElementById('description').innerHTML = "Extremely Obese";
            let text1 = "• Extremely Obese Diet Plan";
            let diet = text1.link("{% url 'diet_plan' %}?classification=Extremely Obese");
            let text2 = "• Extremely Obese Diet Supplement"
            let suppl = text2.link("{% url 'diet_supplement' %}?classification=Extremely Obese");
            let text3 = "• Extremely Obese Physical Activities"
            let workout = text3.link("{% url 'activities' %}?classification=Extremely Obese");
            document.getElementById("reco").innerHTML = diet.concat("<br>", suppl, "<br>", workout);
        }else{
            document.getElementById('description').innerHTML = "Unidentified";
            document.getElementById("reco").innerHTML = "None";
        }
        document.getElementById('save_button').removeAttribute("disabled");
        document.getElementById('reco_head').innerHTML = "Recommended: <br>"
        
    }
    function formREset(){
        document.getElementById('height').value = ''
        document.getElementById('weight').value = ''
        document.getElementById('save_button').setAttribute("disabled","true");
    }
</script>

{% endblock content%}