{% extends "users/base.html" %}
{% block title %}
BMI Calculator
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-sm-3">
        <div class="container-fluid mt-5">
            <div class="card card-secondary" style="width: 20rem;">
                <div class="card-header">
                    <div>BMI Calculator</div>
                </div>
                <div class="card-body">
                    <div class="form-content">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-floating">
                                    <input type="number" class="form-control" placeholder="Weight (kg)" id="weight">
                                    <label for="weight">Weight (kg)</label><br>
                                </div>
                                <div class="form-floating">
                                    <input type="number" class="form-control" placeholder="Height (cm)" id="height">
                                    <label for="height">Height (cm)</label>
                                </div>
                            </div>
                        </div>
                        <HR>
                        <button type="submit" class="btn btn-dark btn-lg" onclick="calculateBMI()">Calculate</button>
                        <input type="reset" class="btn btn-secondary btn-lg" onclick="formREset()" value="Reset">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-7">
        <div class="container-fluid mt-5">
            <h2 id="bmi">Your BMI is - </h2>
            <p>Your BMI falls within the <strong id="description"> ____</strong> weight range</p>
            <strong>Recommended: <br></strong>
            <p id="reco"> </span>
        </div>
    </div>
    </div>
</div>
<script>
    function calculateBMI() {

        var height = document.getElementById('height').value
        var weight = document.getElementById('weight').value
        var BMI = weight/((height/100)**2);
        if(!(isNaN(BMI))){
            document.getElementById('bmi').innerHTML = "Your BMI is " + BMI.toFixed(2)
        }else{
            document.getElementById('bmi').innerHTML = "Your BMI is Unidentified"
        } 
        if(BMI < 18.5){
            document.getElementById('description').innerHTML = "Underweight";
            let text1 = "• Underweight Diet Plan";
            let diet = text1.link("{% url 'diet_plan' %}?classification=underweight");
            let text2 = "• Underweight Diet Supplement"
            let suppl = text2.link("{% url 'diet_supplement' %}?classification=underweight");
            let text3 = "• Underweight Physical Activities"
            let workout = text3.link("{% url 'activities' %}?classification=underweight");
            document.getElementById("reco").innerHTML = diet.concat("<br>", suppl, "<br>", workout);
        }else if((BMI > 18.4) && (BMI < 25.1)){
            document.getElementById('description').innerHTML = "Normal";
            let text1 = "• Normal Diet Plan";
            let diet = text1.link("{% url 'diet_plan' %}?classification=normal");
            let text2 = "• Normal Diet Supplement"
            let suppl = text2.link("{% url 'diet_supplement' %}?classification=normal");
            let text3 = "• Normal Physical Activities"
            let workout = text3.link("{% url 'activities' %}?classification=normal");
            document.getElementById("reco").innerHTML = diet.concat("<br>", suppl, "<br>", workout);
        }else if((BMI > 25) && (BMI < 30 )){
            document.getElementById('description').innerHTML = "overweight";
            let text1 = "• Overweight Diet Plan";
            let diet = text1.link("{% url 'diet_plan' %}?classification=overweight");
            let text2 = "• Overweight Diet Supplement"
            let suppl = text2.link("{% url 'diet_supplement' %}?classification=overweight");
            let text3 = "• Overweight Physical Activities"
            let workout = text3.link("{% url 'activities' %}?classification=overweight");
            document.getElementById("reco").innerHTML = diet.concat("<br>", suppl, "<br>", workout);
        }else if (BMI > 29.9){
            document.getElementById('description').innerHTML = "Obese";
            let text1 = "• Obese Diet Plan";
            let diet = text1.link("{% url 'diet_plan' %}?classification=obese");
            let text2 = "• Obese Diet Supplement"
            let suppl = text2.link("{% url 'diet_supplement' %}?classification=obese");
            let text3 = "• Obese Physical Activities"
            let workout = text3.link("{% url 'activities' %}?classification=obese");
            document.getElementById("reco").innerHTML = diet.concat("<br>", suppl, "<br>", workout);
        }else{
            document.getElementById('description').innerHTML = "Unidentified";
            document.getElementById("reco").innerHTML = "None";
        }
        
    }
    function formREset(){
        document.getElementById('height').value = ''
        document.getElementById('weight').value = ''
    }
</script>

{% endblock content%}