{% extends "users/base.html" %}
{% load paginate %}
{% block title %}
    Common Illness
{% endblock title %}
{% block content %}
    {% if illnesses %}
    
    <div class="container-fluid">
        <h3 class="mx-5 mt-5">Common Illnesses<hr><input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search .."></h3>
        
        <div class="table-responsive mx-5">
            <table class="table table-light table-striped" id="myTable">
                <thead class="table">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Symptoms</th>
                        <th scope="col">Treatment</th>
                        <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody>
                    {% for illness in illnesses %}
                        <tr class="illn">
                            <th scope="row">{{illness.name}}</td>
                            <td>{{illness.description}}</td>
                            <td>{{illness.symptoms}}</td>
                            <td>{{illness.treatment}}</td>
                            <td>{% if illness.img %}
                                <img src="/media/{{illness.img}}" width=100px>                                
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if illnesses.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ illnesses.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ illnesses.number }} of {{ illnesses.paginator.num_pages }}.
                    </span>
            
                    {% if page.has_next %}
                        <a href="?page={{ illnesses.next_page_number }}">next</a>
                        <a href="?page={{ illnesses.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
        
    </div>
    <script>
        function filterTable(event) {
            var filter = event.target.value.toUpperCase();
            var rows = document.querySelector("#myTable tbody").rows;
            
            for (var i = 0; i < rows.length; i++) {
                var firstCol = rows[i].cells[2].textContent.toUpperCase();
                var secondCol = rows[i].cells[1].textContent.toUpperCase();
                var thirdCol = rows[i].cells[3].textContent.toUpperCase();
                var fourthCol = rows[i].cells[4].textContent.toUpperCase();
                if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1 || thirdCol.indexOf(filter) > -1 || fourthCol.indexOf(filter) > -1) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }      
            }
        }
        document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
    </script>
    {% else %}
    <h5 class="alert alert-warning m-4">No Illness Records</h5>
    {% endif %}
{% endblock content%}