{% extends "users/base.html" %}
{% block title %}
Diet Plan
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <h3 class="mx-5 mt-5">Diet Plans<hr></h3>
    
        <div class="table-responsive mx-5">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                Classification
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Classification</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            
            <div class="offcanvas-body">
                <div>
                Plans for BMI Categories<br>
                <br>    
                Underweight = Less than 18.5 BMI<br>
                Normal = 18.5 - 24.9 BMI<br>
                Overweight = 25 - 29.9 BMI<br>
                Obese = 30 BMI<br>

                </div>
                <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    View Plans
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
                    <li><a class="dropdown-item" href="?classification=underweight">Underweight</a></li>
                    <li><a class="dropdown-item" href="?classification=normal">Normal</a></li>
                    <li><a class="dropdown-item" href="?classification=overweight">Overweight</a></li>
                    <li><a class="dropdown-item" href="?classification=obese">Obese</a></li>
                </ul>
                </div>
                <div class="dropdown mt-3">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Generate Weekly Plan
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
                        <li><a class="dropdown-item" href="?generate=underweight">Underweight</a></li>
                        <li><a class="dropdown-item" href="?generate=normal">Normal</a></li>
                        <li><a class="dropdown-item" href="?generate=overweight">Overweight</a></li>
                        <li><a class="dropdown-item" href="?generate=obese">Obese</a></li>
                    </ul>
                    </div>
            </div>
            </div>
            {% if plans %}
            <table class="table table-dark table-striped mt-3">
                <thead class="table table-primary">
                <tr>
                    <th scope="col">Plan</th>
                    <th scope="col">Breakfast</th>
                    <th scope="col">Snacks</th>
                    <th scope="col">Lunch</th>
                    <th scope="col">Dinner</th>
                    <th scope="col">Classification</th>
                </tr>
                </thead>
                <tbody>
                {% for plan in plans %}
                    <tr>
                        <td>{{plan.name}}</td>
                        <td>{{plan.breakfast}}</td>
                        <td>{{plan.snacks}}</td>
                        <td>{{plan.lunch}}</td>
                        <td>{{plan.dinner}}</td>
                        <td>{{plan.classification}}</td>
                        
                {% endfor %}
                </tbody>
            </table>
            {% elif plans_1 %}
            <table class="table table-dark table-striped mt-3">
                <thead class="table table-primary">
                <tr>
                    <th scope="col">Plan</th>
                    <th scope="col">Breakfast</th>
                    <th scope="col">Snacks</th>
                    <th scope="col">Lunch</th>
                    <th scope="col">Dinner</th>
                    <th scope="col">Classification</th>
                </tr>
                </thead>
                <tbody>
                {% for plan in plans_1%}
                    <tr>
                        <td>{{plan.name}}</td>
                        <td>{{plan.breakfast}}</td>
                        <td>{{plan.snacks}}</td>
                        <td>{{plan.lunch}}</td>
                        <td>{{plan.dinner}}</td>
                        <td>{{plan.classification}}</td>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h5 class="alert alert-primary m-4">No Plan Records</h5>
            {% endif %} 
        </div>
    </div>


{% endblock content%}