{% extends "users/base.html" %}
{% block title %}
Diet Supplement
{% endblock title %}
{% block content %}
<div class="container-fluid">
    <h3 class="mx-5 mt-5">Diet Supplements<hr></h3>
    
        <div class="table-responsive mx-5">
            <a href="?category=food" class="btn btn-info">Food</a>
            <a href="?category=vitamins" class="btn btn-info">Vitamins</a>
            {% if supplements %}
            <table class="table mt-3">
                <thead class="table table-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th> 
                    <th scope="col">Category</th>
                    <th scope="col">Classification</th>
                </tr>
                </thead>
                <tbody>
                {% for supplement in supplements %}
                    <tr>
                        <td>{{supplement.name}}</td>
                        <td>{{supplement.description}}</td>
                        <td>{{supplement.category}}</td>
                        <td>{{supplement.classification}}</td>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if supplements.has_previous %}
                        <a href="?page=1" class="text-decoration-none">&laquo; First</a>
                        <a class="text-decoration-none" href="?page={{ supplements.previous_page_number }}">Previous</a>
                    {% endif %}
            
                    <span class="current">
                       Page {{ supplements.number }} of {{ supplements.paginator.num_pages }}.
                    </span>
            
                    {% if supplements.has_next %}
                        <a class="text-decoration-none" href="?page={{ supplements.next_page_number }}">Next</a>
                        <a class="text-decoration-none" href="?page={{ supplements.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% else %}
<h5 class="alert alert-primary m-4">No Records</h5>
{% endif %} 

{% endblock content%}