{% extends "users/base.html" %}
{% block title %}{% endblock title %}
{% block content %}
    {% if make_plans.errors %}
    <div class="alert alert-dismissible alert-danger mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <div id="form_errors">
            {% for key, value in make_plans.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
    <div class="card bg-info m-3" style="max-width: 30rem;">
        <div class="card-header">
            <div class="mt-1 "> Plan Schedule
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
            <div class="form-content">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <strong>
                        <div class="form-group">
                            <label class="small mb-1">Sunday:</label>
                                {{ make_plans.sunday }}<br>
                            <label class="small mb-1">Monday:</label>
                                {{ make_plans.monday }}<br>
                            <label class="small mb-1">Tuesday:</label>
                                {{ make_plans.tuesday }}<br>
                            <label class="small mb-1">Wednesday:</label>
                                {{ make_plans.wednesday }}<br>
                            <label class="small mb-1">Thursday:</label>
                                {{ make_plans.thursday }}<br>
                                <label class="small mb-1">Friday:</label>
                                {{ make_plans.friday }}<br>
                            <label class="small mb-1">Saturday:</label>
                                {{ make_plans.saturday }}
                        </strong>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
                    <button type="reset" class="btn btn-dark btn-lg">Reset</button>
                </form>
            </div>
            </div>
        </div>
      </div>
    
    
{% endblock content %}