{% extends "users/base.html" %}
{% block title %}Home{% endblock title%}
{% block content %}
<div class="row justify-content-left mt-4">
    <div class="col-6">
        <h1>Welcome, {{user.first_name.title|default:'Guest'}}</h1><hr>
        <b>Personal Health</b> is the ability to take charge of your health by making conscious decisions to be healthy. 
        It not only refers to the physical well being of an individual but it also comprises the wellness of emotional, 
        intellect, social, economical, spiritual and other areas of life.
        <hr>
    </div>
    
</div>
{% endblock content %}